<head>
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>

<div class="container">
<h1>FeatEx</h1>
<p>Feature Extraction as a service!</p>
<p>You can serve up database queries to compute the features over an HTTP api.
This api understands query parameters as URL encoded key value parameters.

You can try a sample query at <a href="query/drugs?person=12">drugs</a>
The queries can be found at <a href="queries">/queries</a>


</p>

</div>