select * from (SELECT
                 person_id,
                 condition_start_date AS start_date,
                 condition_end_date   AS end_date,
                 condition_concept_id    concept_id,
                 'condition'          AS type
               FROM {{ .schema }}.condition_occurrence
               UNION ALL
               SELECT
                 person_id,
                 drug_exposure_start_date AS start_date,
                 drug_exposure_end_date   AS end_date,
                 drug_concept_id             concept_id,
                 'drug_exposure'          AS type
               FROM {{ .schema }}.drug_exposure
               UNION ALL
               SELECT
                 person_id,
                 drug_era_start_date AS start_date,
                 drug_era_end_date   AS end_date,
                 drug_concept_id        concept_id,
                 'drug_era'          AS type
               FROM {{ .schema }}.drug_era
) as t WHERE t.person_id = $1
ORDER BY person_id, type, start_date, end_date