
{{ template "headelt" }}

<div class="container">
  {{ template "title" }}

<h2>404 page not found</h2>

<p>
The page you are looking for does not exist, please return to the index for more information.
<a href="index.html">/index.html</a>
</p>

</div>
