{{ template "headelt" }}
<body><div class="container">
    {{ template "title" }}
<div class="container">
	<h2>{{ .StatusText }}</h2>
		<p class="well"><pre>{{ .Msg }}</pre></p>
</div>
</div>
</body>
